/* hero */

.section-hero {
  padding: 9.6rem 0;
  margin-bottom: 9.6rem;
}

.hero {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}
.hero-img {
  width: 100%;
  border-radius: 10%;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}


/* navigation */

.logo{
  display: flex;
  padding-left: 10rem;
  
}

.list{
  padding-left: 50rem;
}

.navbar {
 position: sticky;
 top: 0;
     background-color: #0a0a0a;
  display: flex;
    align-items: center;
      line-height: 5rem;
  max-width: 100%;
}

.left .logo {
  cursor: pointer;
  height: 9.6rem;
  padding-top: 2.4rem;
  border-radius: 20%;
}


.checkBtn {
  display: none;
}

#check {
  display: none;
}

.checkBtn {
  cursor: pointer;
  font-size: 30px;
  padding-left: 45rem;
  color: white;
  line-height: 80px;
}

.right ul {
  display: flex;
  list-style: none;
}

.right ul li a {
  padding: 10px 20px;
  font-size: 2.4rem;
  color: #8b38d3;
  cursor: pointer;
  text-decoration: none;
  transition: all 1s;
}

.right ul li a:hover {
  background-color: #fff;
  border-radius: 7px;
  color: rgb(22, 7, 36);
}




 
/* Used by section */

.section-featured {
  margin-bottom: 15rem;
}

.feat-use {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 24px;
}

.feat-logo {
  display: flex;
 justify-content: center;

 
}

.feat-logo img {
  height: 6.2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* mouses */
.section-products {
    max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.subheading {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ff00ff;
  font-size: 6.4rem;
  line-height: 7rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.75px;
}

.mouse-img-box {
  align-items: center;
  justify-content: center;
  display: flex;
}

.mouse-img {
  box-shadow: 0 0 10px #ff00ff;
}

.mouses {
  color: #00ffff;
  font-size: 3.2rem;
  padding: 9.6rem 0;
  margin: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading-mouse {
  font-size: 5.2rem;
  font-weight: 600;
  color: #00ff00;
  margin-bottom: 1.2rem;
}

.mouse-description {
  font-size: 2.4rem;
  color: aliceblue;
  font-weight: 500;
  line-height: 3rem;
  margin-top: 6.2rem;
}

/* Section-prices */

.section-price {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  margin-top: 9.6rem;
  text-align: center;
  margin-bottom: 20rem;
}

.subheading-shop {
  color: #00ffff;
  font-size: 4.4rem;
  line-height: 7rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.75px;
}

.product-shop {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 9.6rem;
  /* background-color: #00ff00; */
}

.mouse-name {
  font-size: 4.4rem;
  line-height: 7rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  padding-bottom: 4.2rem;
  color: #00ff00;
}
.product {
  /* border-style: solid;
  border-color: aliceblue; */
  box-shadow: 0 0 10px #00ff00;
}

.product-attribute {
  font-size: 2.4rem;
  color: #b27ae2;
}

.product-attributes {
  list-style: none;
  padding: 1.2rem;
  padding-bottom: 2.4rem;
}

.mouse-price {
  font-size: 3.8rem;
  line-height: 7rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  padding-bottom: 1.2rem;
  color: #ff00ff;
}

.button {
  width: 180px;
  height: 40px;
  margin-bottom: 2.4rem;
  background-image: linear-gradient(rgb(214, 202, 254), rgb(158, 129, 254));
  border: none;
  border-radius: 50px;
  color: rgb(255, 255, 255);
  font-weight: 600;
  gap: 5px;
  cursor: pointer;
  box-shadow: 1px 3px 0px rgb(139, 113, 255);
  transition-duration: 0.3s;
}

.cartIcon {
  width: 14px;
  height: fit-content;
}

.cartIcon path {
  fill: white;
}

/* testimonal-section */

/* .section-testimonals {
  margin: 9.6rem 36rem;
  max-width:
}

.testimonal{
  padding-top: 9.6rem;
}

.testimonal-img{
  max-width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.testimonal-text{
  font-size: 1.8rem;
  line-height: 1.2;
  color: aliceblue;

}

.testimonal-name{
  font-size: 1.6rem;
  color: bisque;
} */

.reviews {
  padding: 10.5rem;
  margin-top: 15rem;
}

.Carassel-titil {
  font-size: 6rem;
  text-align: center;
}

.content-slider {
  width: 100%;
  height: 36rem;
}

.slider {
  height: 32rem;
  width: 68rem;
  margin: 4rem auto 0;
  overflow: visible;
  position: relative;
}

.mask {
  overflow: hidden;
  height: 32rem;
}

.slider ul {
  margin: 0;
  padding: 0;
  position: relative;
}

.slider li {
  width: 68rem;
  height: 32rem;
  position: absolute;
  top: -32.5rem;
  list-style: none;
}

.slider .quote {
  font-size: 4rem;
  font-style: italic;
}

.slider .source {
  font-size: 2rem;
  text-align: right;
}

.slider li.anim1 {
  animation: cycle 20s linear infinite;
}

.slider li.anim2 {
  animation: cycle2 20s linear infinite;
}

.slider li.anim3 {
  animation: cycle3 20s linear infinite;
}

.slider:hover li {
  animation-play-state: paused;
}

@keyframes cycle {
  0% {
    top: 0px;
  }
  4% {
    top: 0px;
  }
  16% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  20% {
    top: 32rem;
    opacity: 0;
    z-index: 0;
  }
  21% {
    top: -32.5rem;
    opacity: 0;
    z-index: -1;
  }
  50% {
    top: -32.5rem;
    opacity: 0;
    z-index: -1;
  }
  92% {
    top: -32.5rem;
    opacity: 0;
    z-index: 0;
  }
  96% {
    top: -32.5rem;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}

@keyframes cycle2 {
  0% {
    top: -32.5rem;
    opacity: 0;
  }
  16% {
    top: -32.5rem;
    opacity: 0;
  }
  20% {
    top: 0px;
    opacity: 1;
  }
  24% {
    top: 0px;
    opacity: 1;
  }
  36% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  40% {
    top: 32.5rem;
    opacity: 0;
    z-index: 0;
  }
  41% {
    top: -32.5rem;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -32.5rem;
    opacity: 0;
    z-index: -1;
  }
}

@keyframes cycle3 {
  0% {
    top: -32.5rem;
    opacity: 0;
  }
  36% {
    top: -325px;
    opacity: 0;
  }
  40% {
    top: 0px;
    opacity: 1;
  }
  44% {
    top: 0px;
    opacity: 1;
  }
  56% {
    top: 0px;
    opacity: 1;
    z-index: 0;
  }
  60% {
    top: 32.5rem;
    opacity: 0;
    z-index: 0;
  }
  61% {
    top: -32.5rem;
    opacity: 0;
    z-index: -1;
  }
  100% {
    top: -32.5rem;
    opacity: 0;
    z-index: -1;
  }
}

/* cta section */

.section-cta {
  /* background-color: #00ff00; */
  margin: auto;
  max-width: 57%;
  margin-top: 9.6rem;
  margin-bottom: 9.6rem;
  /* height: 62rem;
  width: 62rem; */
  position: relative;
  text-align: center;
}

.cta-img {
  width: 100%;
  height: 50rem;
  /* position: relative; */
}

.cta-text {
  position: absolute;
  /* background-color: #00ff00; */
    padding-left: 40rem;
  /* padding-right: 9.2rem; */
  padding-top: 9.2rem;
  font-size: 4.4rem;
  line-height: 7rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  color: white;
}

.cta-form {
  position: absolute;
  padding-top: 30rem;
  padding-left: 50rem;
  
}

.cta-form-input {
  padding: 1rem 1rem 1rem 1rem;
  display: flex;
  border: 1px solid #7e22ce;
  box-sizing: border-box;
  width: 50rem;
}

.cta-form-btn {
  margin-top: 2.4rem;
  border-radius: 10%;
}

.cta-form-btn {
  padding: 1rem;
}

/* Footer */

.Footer {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  background-color: #262626;
  color: white;
  text-align: center;
    color: #00ffff;
  padding-top: 2.2rem;
  padding-bottom: 2.2rem;
}

.contact{
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6rem;
}

.adress{
  margin-bottom: 2.4rem;
  width: 29rem;
}
.number{
  padding-bottom: 2.4rem;
}

.copyright{
  margin-top: 2.4rem;
  font-size: 1.4rem;
  width: 18rem;
}

.Footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 3.2rem;
}

.Footer-nav{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;

}

.logo-footer{
  max-height: 5rem;
}

.Footer-link{
 font-size: 1.2rem;
 color: #00ff00;
}